<nav class="navbar navbar-expand-md sticky-top bg-light navbar-light">
  <a href="#" class="navbar-brand">
    <img src="/img/logo.png" alt="FORESE Logo" width="80" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/contacts">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts/panel">Tabulation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts/statistics">Statistics</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto pr-4">
      <li class="nav-item dropdown">
        <a
          href="#"
          id="navbarDropdownMenuLink"
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <%= (name) %> (<%= (role) %>)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/users/updatepassword">Update Password</a>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
