<div class="pos-f-t mt-3">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <a href="/contacts/statistics" class="text-dark">View Statistics</a>
      <br />
      <a href="/contacts/changepassword" class="text-dark">Update Password</a>
      <br />
      <a href="/users/logout" class="text-dark">Logout</a>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
