<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Lato&display=swap" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/forese.png" />

    <!-- Bootswatch theme -->
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" />

    <!-- DataTables CSS -->
    <link rel="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <title>OAuthKeeper</title>
  </head>

  <body>
    <main class="container"><%- body %></main>

    <!-- JavaScript for Accordion -->
    <script>
      $('.collapse').collapse();
    </script>

    <!-- Form Validation -->
    <script src="/js/validateForms.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>

    <!-- JavaScript to accept address input only if contact is not using own transport -->
    <script>
      const ownTransport = document.querySelectorAll("input[name='ownTransport']");
      const address = document.querySelectorAll("textarea[name='address']");

      for (let i = 0; i < ownTransport.length; i++) {
        ownTransport[i].addEventListener('change', function () {
          if (ownTransport[i].checked) {
            address[i].classList.add('d-none');
            address[i].previousElementSibling.classList.add('d-none');
          } else {
            address[i].classList.remove('d-none');
            address[i].previousElementSibling.classList.remove('d-none');
          }
        });
      }
    </script>
  </body>
</html>
