<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LVJJ2Q1R80"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-LVJJ2Q1R80');
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Lato&display=swap" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- Bootswatch theme -->
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <!-- Tabulator CSS -->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Tabulator JS -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

    <!-- Excel Plugin for Tabultor -->
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

    <!-- PDF Plugin for Tabulator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>

    <title>OAuthKeeper</title>
  </head>

  <body>
    <!-- prettier-ignore -->
    <% if(typeof name !== "undefined" && typeof role !== "undefined") { %> 
      <%- include("../partials/navbar.ejs"); %> 
    <% } %>
    <!-- prettier-ignore -->

    <main class="container"><%- body %></main>

    <%- include("../partials/footer.ejs"); %>

    <!-- JavaScript for Accordion -->
    <script>
      $('.collapse').collapse();
    </script>

    <!-- Form Validation -->
    <script src="/js/validateForms.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
  </body>
</html>
