<% layout("layouts/boilerplate") -%>

<div class="row">
  <div class="col-12">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <% if (process.env.NODE_ENV !== 'production') { %>
      <p><%= err.stack %></p>
      <% } %>
    </div>
    <button class="btn btn-primary" type="button" onclick="window.history.back()">Go Back</button>
  </div>
</div>
