.alert {
  margin-top: 2.5rem;
}

.card {
  margin-bottom: 0.5rem;
}

.card-header {
  padding: 0.15rem;
}

.contact-header {
  padding-left: 1rem;
  padding-top: 0.35rem;
}

i {
  position: absolute;
  padding-top: 0.5rem;
  padding-right: 1rem;
  right: 0;
}

.stats {
  display: grid;
  padding: 5px;
  grid-gap: 1px;
  border-radius: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
}

.stat {
  background-color: white;
  padding: 1rem;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
