body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  padding-bottom: 3.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-family: 'Bitter', serif;
}

.alert {
  margin-top: 2.5rem;
}

.card {
  margin-bottom: 0.5rem;
}

.card-header {
  padding: 0.15rem;
}

.contact-header {
  padding-left: 1rem;
}

i {
  position: absolute;
  padding-top: 0.5rem;
  padding-right: 1rem;
  right: 0;
}

.contactStatus,
.contactIncharge {
  margin-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 1rem;
  display: inline-block;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 1rem;
}

.contact-header {
  margin-bottom: 0;
}

#deptPreference {
  margin-bottom: 0;
}

.form-check-inline {
  margin-bottom: 1rem;
}

.new-contact {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 3rem;
  z-index: 1;
  color: #e95420;
  cursor: pointer;
}

th {
  background-color: #f1f1f1;
}

table#stats {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

table#stats thead tr th {
  position: sticky;
  top: 67px;
}

th > div {
  transform: rotate(-90deg);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table#stats tbody tr td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

tfoot {
  font-weight: bold;
}

.edIncharge {
  font-weight: bold;
  vertical-align: middle;
}

#card-stats {
  display: none;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  padding: 0.65rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 512px) {
  .contactStatus,
  .contactIncharge {
    display: block;
    float: left;
    clear: left;
  }
}

@media (min-width: 768px) {
  .form-modal {
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  #card-stats {
    display: block;
  }

  #stats {
    display: none;
  }
}
