<!-- New Contact Modal -->
<div class="modal fade" id="newContact">
  <div class="modal-dialog form-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/contacts" method="POST" class="validated-form" novalidate>
          <%- include("../../partials/form_fields.ejs"); %>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save Contact</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
