<% layout("layouts/boilerplate") -%>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-2">Reset Password</h1>

      <%- include("../partials/flash.ejs") %>

      <form action="/users/resetpassword/<%= resetToken %> " method="POST" class="validated-form" novalidate>
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter New Password"
            required
          />
        </div>

        <div class="form-group">
          <label for="password2">Confirm New Password</label>
          <input
            type="password"
            name="password2"
            id="password2"
            class="form-control"
            placeholder="Confirm New Password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">RESET PASSWORD</button>
      </form>
    </div>
  </div>
</div>
