<% layout("layouts/boilerplate") -%>

<!-- prettier-ignore -->
<%- include("../partials/sidebar.ejs") %>
<!-- prettier-ignore -->

<div class="mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Number of HR's</th>
      </tr>
    </thead>
    <tbody>
      <% statuses.forEach((status) => { %>
      <tr>
        <td><%= status._id %></td>
        <td><%= status.count %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
